*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 60px;
    background-color: black;
}
header img{
    margin-left: 95px;
    padding: 5px;
}

main{
    width: 100%;
    height: 850px;
    background-color: rgb(10, 61, 127);
    display: flex;
    justify-content: space-between;
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(10, 61, 127);
}

section{
    height: 100%;
    background-color: rgb(10, 61, 127);

}

.section_1{
    width: 60%;
}
.section_2{
    width: 30%;
}

.contenedor_imagen{
    width: 100%;
    height: 40%;
    padding-top: 30px;
    text-align: center;
}

.contenedor_subtitulo{
    width: 100%;
    height: 20%;
    text-align: center;
}

.contenedor_parrafo{
    width: 100%;
    height: 20%;
    text-align: center;
}

.textarea{
    width: 80%;
    height: 60%;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 20px;
    border: 0;
    outline: 0;
}

.contenedor_botones{
    text-align: center;
    margin-top: 20px;
}

.boton_encriptar, .boton_desencriptar{
    width: 30%;
    height: 40px;
}

.boton_encriptar{
    background-color: rgb(56, 247, 3);
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
}
.boton_desencriptar{
    background-color: rgb(56, 247, 3);
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
}

.boton_encriptar:hover{
    background-color: ghostwhite;
}
.boton_desencriptar:hover{
    background-color: ghostwhite;
}
footer{
    font-size: 25px;
    text-align: center;
    color: ghostwhite;
    padding-top: 20px;
    box-sizing: border-box;
}